@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Minecraft;
  src: url("https://minecraft--duck132912.repl.co/minecraft.ttf");
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  background: #303030;
  background-size: cover;
  text-align: center;
  font-family: Minecraft, sans-serif;
  text-shadow: 0.2vw 0.2vw 0 #383838;
  background-blend-mode: overlay;
}

main {
  max-width: 1150px;
  padding-inline: 1rem;
  margin-inline: auto;
}

img,
main,
div {
  image-rendering: pixelated;
}

a {
  color: #fff;
  text-decoration: none;
}

#logo {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* TODO: Make the flashing text scale down as more text is added */
#flashingtext {
  margin: -3.5% 0 0 47%;
  width: 95%;
  bottom: 50px;
  transform: rotate(-20deg);
  animation: FlashingText 0.5s ease-in-out infinite;
  color: #ffff00;
  font-size: 1vw;
}

.singleplayer {
  width: 100%;
}

.multiplayer {
  width: 100%;
}

.button {
  padding: 10px 10px 15px;
  background: #7d7d7d url("/img/bgbtn.png") center repeat;
  background-size: 100% 200%;
  color: #e0e0e0;
  outline: 0.1vw solid #000;
  outline-offset: -0.1vw;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.button_small {
  width: 49%;
  display: inline-block;
}

.button:hover {
  background: rgba(112, 121, 170, 0.5) url("/img/bgbtn.png") center repeat;
  background-size: 100% 200%;
  background-blend-mode: overlay;
  color: #ffffa0;
}

.button:disabled,
.button[disabled] {
  background: #272727 url("/img/bgbtn.png") center repeat;
  background-size: 100% 200%;
  color: #a9a9a9;
}

.patreonbutton {
  padding: 10px 10px 15px;
  margin: 0 auto 2% auto;
  background: rgba(255, 107, 0, 0.45) url("/img/bgbtn.png") center repeat;
  background-size: 100% 200%;
  background-blend-mode: overlay;
  color: #e0e0e0;
  font-size: 1.2vw;
  outline: 0.1vw solid #000;
  outline-offset: -0.1vw;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.patreonbutton:hover {
  background: rgba(255, 107, 0, 0.5) url("/img/bgbtn.png") center repeat;
  background-size: 100% 200%;
  background-blend-mode: overlay;
  color: #ffffff;
}

.button span {
  vertical-align: middle;
}

.left {
  float: left;
}

.float {
  padding: 10px 13px 15px;
  margin: 0 auto 2% auto;
  z-index: 3;
  position: absolute;
  width: auto;
  height: 47px;
  right: 81%;
}

.middle {
  position: relative;
  justify-content: center;
  align-items: flex-end;
}

.right {
  float: right;
}

.bold {
  font-weight: bold;
  color: white;
}

@keyframes FlashingText {
  0% {
    transform: scale(1) rotate(-20deg);
  }
  50% {
    transform: scale(1.05) rotate(-20deg);
  }
  100% {
    transform: scale(1) rotate(-20deg);
  }
}

button {
  font-family: Minecraft, sans-serif;
}

.small_logo {
  width: 50%;
  height: auto;
}

.halfo {
  opacity: 75%;
}

.fullscreen-underlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #002525 0%, #0a1010 100%);
  overflow: hidden;
}

.bottom-div {
  margin: 75px 0 0;
  margin-inline: auto;
  max-width: 1150px;
  padding: 25px;
  align-items: flex-end;
  font-size: 1.2vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
}
